body {
    background-color: black;
    color: aliceblue;

}
p {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.top-bar {
    padding:2.5rem 0rem 2.5rem
}
.feature {
    position: relative;
}

.top-name {
    padding-top: 0.55rem;
}

.top-button{
    border-radius: 0;
    justify-self: right;
    background-color: rgb(197, 197, 29);
}

.top-text {
    padding:2rem 0rem 2.5rem;
    align-content: left;
    text-align: left;
    font-size: 10rem;

}

.d-flex{
    align-items: flex-start
  }

h1{
    font-size: 4rem;
    color: whitesmoke;
    font-family: 'IBM Plex Serif', serif;
}
h2  {
    padding-bottom: 0.5em;
    padding-top: 1.5rem;
    font-size: 2.7rem;
    color: whitesmoke;
    font-family: 'IBM Plex Serif', serif;
}

a {
    text-align: justify;
    padding-top: 0.55rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: grey;
    text-decoration: none;
}
